#### Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [17]:
import numpy as np
import random
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']
np.random.shuffle(male)
np.random.shuffle(female)
couples= zip(male, female)
for i,j in enumerate(couples):
    print(f'커플 {i+1}: {j[0]},{j[1]}')

커플 1: 철수,평강
커플 2: 이몽룡,줄리엣
커플 3: 로미오,갑순
커플 4: 갑돌,성춘향
커플 5: 온돌,미미

In [2]:
import random
import numpy as np

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

np.random.shuffle(male)
# male = tuple(male)
np.random.shuffle(female)
# female = tuple(female)
[x for x in zip(male, female)]

[('로미오', '평강'), ('철수', '성춘향'), ('온돌', '미미'), ('이몽룡', '갑순'), ('갑돌', '줄리엣')]

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.

In [22]:
num = input("게임수 ")
for i in range(0,int(num)):
    lotto = random.sample(range(1,46),6)
    print(lotto)

게임수 2
[19, 7, 29, 13, 3, 16]
[2, 33, 40, 20, 41, 14]

### [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [27]:
cakd7 = ['김덕현','감현지','박영권','변서연','한지웅','양주희','이호원','정지은','이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

num = int(input("발표자 수"))
people = random.sample(cakd7,num)
print(people)

발표자 수7
['이상윤', '이정현B', '최애림', '진청아', '신창훈', '윤정준', '이호원']

In [5]:
len(cakd7)

25

#### Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [31]:
stst = input("알파벳을 입력해주세요.> ")
stst[1:]+stst[0]

알파벳을 입력해주세요.abc

'bca'

In [2]:
text = input("문자를 입력해주세요. >")
ret = ''
for i in range(len(text)):
    if i != len(text) -1:
        ret += text[i+1]
    else:
        ret += text[0]
print(ret)

문자를 입력해주세요. >assdf
ssdfa

#### Q4. url에서 호스트 도메인을 출력하세요.,

In [59]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
# 호스트 도메인 : news.naver.com

In [60]:
import re

p = re.compile("[//](\D{14})[/]")
p1 = re.compile('(?<=http://)([a-zA-Z.]+)')
m = p.search(url)
print(m.group(1))

news.naver.com

In [61]:
m1 = p1.search(url)
print(m1.group(1))

news.naver.com

In [10]:
url[7:21]

'news.naver.com'

In [11]:
tmp = url.split('/')
tmp[2]

'news.naver.com'

### Q5. url에서 쿼리문을 추출하여 출력하세요.
url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [2]:
url2 = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [3]:
import re

p = re.compile("[?](.*)[&]+(.*)")
m = p.findall(url2)
str(m).split('&')

["[('mode=LSD", 'mid=shm', 'sid1=105', "oid=028', 'aid=0002334601')]"]

#### Q. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [5]:
with open('mydata.txt','r') as f:
    lines = f.readlines()
li = []
for line in lines:
    a= line.split()
    for i in a:
        for j in range(len(i)):
            li.append(i[j])

In [6]:
import pandas as pd
li1 = []
li2 = []

for i in range(len(li)):
    li1.append(li[i])
    li2.append(li.count(li[i]))

li1 = pd.Series(li1)
li2 = pd.Series(li2)
df = pd.concat([li1,li2], axis = 1)
df2 = df.drop_duplicates()

df3=df2[2:]
df4 = df3.reset_index(drop = True)
df5= df4.rename(columns = {0:"alp", 1:"con"})
df6 = df5.sort_values('con', ascending = False)
df7 = df6.reset_index(drop = True)
df7

   alp  con
0    e   97
1    t   85
2    o   73
3    n   60
4    s   60
5    r   54
6    i   50
7    h   48
8    u   27
9    d   24
10   c   23
11   w   20
12   m   20
13   f   17
14   y   15
15   p   15
16   b   13
17   g   11
18   v    9
19   '    8
20   k    7
21   !    2

In [7]:
for i in range(len(df7)):
    print(f'{df7.alp[i]} -> {df7.con[i]}회 나타남')

e -> 97회 나타남
t -> 85회 나타남
o -> 73회 나타남
n -> 60회 나타남
s -> 60회 나타남
r -> 54회 나타남
i -> 50회 나타남
h -> 48회 나타남
u -> 27회 나타남
d -> 24회 나타남
c -> 23회 나타남
w -> 20회 나타남
m -> 20회 나타남
f -> 17회 나타남
y -> 15회 나타남
p -> 15회 나타남
b -> 13회 나타남
g -> 11회 나타남
v -> 9회 나타남
' -> 8회 나타남
k -> 7회 나타남
! -> 2회 나타남

In [10]:
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('./mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

#### Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)
- Cal4 클래스를 만들어서 작성

In [9]:
class Cal4:
    def __init__(self):
        self.first = int(input('첫번째 숫자 입력'))
        self.second = int(input('두번쨰 숫자 입력'))
        if self.first == 0:
            print("다시 입력해주세요.")
            self.first = int(input('첫번째 숫자 입력'))
        elif self.second == 0:
            print('다시 입력해주세요.')
            self.second = int(input('두번쨰 숫자 입력'))
            
    def add(self):
        result = self.first + self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    
cal4 = Cal4()
print(cal4.div())
print(cal4.add())
print(cal4.mul())
print(cal4.sub())

첫번째 숫자 입력1
두번쨰 숫자 입력0
다시 입력해주세요.
두번쨰 숫자 입력2
0.5
3
2
-1

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드를 오바라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [3]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    

order = Order('kevin')
print(order.order(1000))

1000

In [6]:
class extraOrder(Order):
    def orderd(self, price):
        self.customer += price 
        return str(self.customer)+'원'

In [10]:
orde = extraOrder('kevin')
print(orde.orderd(2000))

2000원

#### Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
- 안녕하세요. kevin님 업무미팅은 2시 입니다.

In [13]:
class AutoEmail:
    
    def __init__(self, name):
        from datetime import datetime
        self.name = name
        self.now = datetime.now()
        self.meeting = 14 - self.now.hour

    
    def call(self):
        print(f'{self.name}님 지금 시간은 {self.now.hour}입니다.' )
        if self.now.hour > 14:
            print("업무미팅 시간은 2시였습니다.")
            print(f'업무미팅시간이 {self.meeting}시간 만큼 늦었습니다.')
        else:
            print("업무미팅 시간은 2시입니다.")
            print(f'업무미팅까지 {self.meeting}시간 남았습니다.')

a=AutoEmail('부장')
a.call()

부장님 지금 시간은 9입니다.
업무미팅 시간은 2시입니다.
업무미팅까지 5시간 남았습니다.

#### Q.10 정규표현식을 사용하여 test에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [2]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [4]:
import re
p = re.compile("(\d+[-]\d+[-]\d+)")
m = p.findall(text)
print(m)

['032-232-3245']

#### Q.11 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text '에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오력, 에러 xxx'

In [6]:
text= '에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx'
p = re.compile("[에러]{2}\s\w+")
m = p.findall(text)
print(m)

['에러 1122', '에러 1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [85]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [91]:
import re
p = re.compile("(\d+)[-]\d+[-]\d+")
m = p.search(text)
print(m.group(1))

032

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [92]:
import re
p = re.compile("(\d+)[-](\d+[-]\d+)")
m = p.search(text)
print(m.group(2))

232-3245

#### Q14.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [94]:
alpha='abcdefghij'
import re
p = re.compile("((abcd(e)(fghi))(j))")
m = p.search(alpha)
print(m.group(2))
print(m.group(3))

abcdefghi
e

#### Q15. 위 문제에서 모든 서브그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [1]:
import re
p = re.compile("((abcd(e)(fghi))(j))")
m = p.search('abcdefghij')
m.group(1),m.group(2),m.group(3),m.group(4),m.group(5)

('abcdefghij', 'abcdefghi', 'e', 'fghi', 'j')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation' 에서 Lots를 출력하세요.

In [12]:
import re
p = re.compile("(?P<ALPH>\w+)\s(of)\s(punctuation)")
m = p.search('Lots of punctuation')
print(m.group('ALPH'))

Lots

#### Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [13]:
import re
p = re.compile("(\w+)\s(\w+)\s(\w+\s\w+)\s(\w+)")
m = p.search('Paris is very very beautiful.')
print(m.group(3))

very very

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [19]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('\d+\s\w+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

#### Q19. text에서 'H,h'만 출력하세요.

In [32]:
text = 'Hello my friend! Life is short you need Python!'

import re
p = re.compile('[Hh]')
m = p.findall(text)
print(m)

['H', 'h', 'h']

#### Q20. text에서 'H,h'가 아닌 것 모두를 출력하세요.

In [24]:
import re
p = re.compile('[^Hh]')
m = p.findall(text)
print(m)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

#### Q21. 'we are going home'에서 home만 출력하세요.

In [17]:
import re
p = re.compile('\w+ \w+ \w+ (\w+)')
m = p.search('we are going home')
m.group(1)

'home'

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [26]:
import re
p = re.compile('\d+')
m = p.search('199305, 1923A, a93247')
m.group(0)

'199305'


#### Q23. '12345abc'에서 'abc'만 출력하세요.

In [10]:
import re
p = re.compile('\D+')
m = p.search('12345abc')
m.group()

'abc'

In [11]:
b = re.search('\D+','12345abc')
b.group()

'abc'

In [14]:
re.sub( '[^0-9]',"",'12345abc')
#sub함수 대치 함수, sub(정규표현식, 대치할 것, 대상 string)

'12345'

#### Q24 '12345abc'에서 'a'만 출력하세요.

In [2]:
import re
p = re.compile('[a]')
m = p.search('12345abc')
m.group()

'a'

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [17]:
import re
p = re.compile('[A]')
m = p.search('abc12345Abc')
m.group()

'A'

#### Q26.'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [26]:
m=re.findall('a\w+','Banker')
print(m)
b=re.findall('b\D+','banker123')
print(b)

['anker']
['banker']

#### Q27.'KOREA 대한민국'에서 '대'만 출력하세요.

In [2]:
import re
m = re.search('[대]','KOREA 대한민국')
m.group()

'대'

#### Q28. 'aaaaBBBcccDDDeee'을 모두 출력하세요.

In [3]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
m = re.search('a{4}B{3}c{3}D{3}e{3}', text)
m.group()

'aaaaBBBcccDDDeee'

#### Q29. 아래의 경우에서 \<html>만 출력하세요

In [4]:
# Q
pattern = re.compile('<.*?>')
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))

p = pattern.search(text)
p.group()

59

'<html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [5]:
m = re.findall('\d', '1234a1234')
m

['1', '2', '3', '4', '1', '2', '3', '4']

#### Q32. text에서 전체문장 모두 출력하세요.

In [4]:
# Q.
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('\D*')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [5]:
import re
regex = re.compile('.*', re.DOTALL)
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요

In [38]:
text = 'Friend fRiend friEnd FRIEND'
m = re.findall('\w+',text)
for i in range(0,4):
    print(m[i])

Friend
fRiend
friEnd
FRIEND

In [13]:
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('friend',re.I)
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [26]:
import time
from datetime import datetime
d = datetime.fromtimestamp(1609160537.371015)
print(d)
d.strftime('%c')

2020-12-28 22:02:17.371015

'Mon Dec 28 22:02:17 2020'

In [27]:
timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

In [28]:
from datetime import datetime

time = datetime.fromtimestamp(int(1609160537.371015))
time = time.strftime("%a %b %d %H:%M:%S %Y")
time

'Mon Dec 28 22:02:17 2020'

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [35]:
import time
t = time.time()
type(t)
d = datetime.fromtimestamp(t)
# d.strftime('%c')
time = d.strftime("%a %b %d %H:%M:%S %Y")
time

'Tue Jul 26 09:21:04 2022'

ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

#### Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [1]:
import time
from datetime import datetime
t = datetime.today()
print(t)
# d.strftime('%c')
time = t.strftime("%Y년-%m월-%d일 %H시:%M분:%S초")
time

2022-07-27 09:12:59.934306

'2022년-07월-27일 09시:12분:59초'

#### Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요

In [2]:
import time
from datetime import datetime
t = time.time()
type(t)
d = datetime.fromtimestamp(t)
# d.strftime('%c')
time = d.strftime("%Y년-%m월-%d일 %H시:%M분:%S초")
time

'2022년-07월-27일 09시:15분:10초'

#### Q38. 올해 경과된 날짜수 계산하세요

In [14]:
from datetime import datetime

a = datetime.now()
b = datetime.strptime('20220101','%Y%m%d')

result = a - b
print(result)
print(f'오늘은 2022년 1월 1일 이후 {result.days}일째 되는 날입니다.')

207 days, 9:18:33.609242
오늘은 2022년 1월 1일 이후 207일째 되는 날입니다.

#### Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [4]:
import calendar
y = a.year
m = a.month
d = a.day
def get(y,m,d):
    days = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
    return days[calendar.weekday(y,m,d)]

print(f'{y}-{m}-{d} 오늘은 {get(y,m,d)}입니다.')

2022-7-27 오늘은 수요일입니다.

#### Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [17]:
%%time
sum(range(1,1000001))

CPU times: total: 31.2 ms
Wall time: 36.9 ms

500000500000

In [24]:
from datetime import datetime
import time
now_1 = time.time()
a=0
for i in range(1000000):
    a = a + i
    
now_2 = time.time()

print(f'{now_2-now_1:5f}sec')

0.103756sec

#### Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

In [2]:
# Q. 
try:
    list_num = [52,273,32,72,100]

    num_input = int(input('정수 입력> '))
    print(f'{num_input}번째 요소: {list_num[num_input-1]}')
except ValueError:
    print('ValueError: 정수에러')
finally:
    print('모든 예외처리 완료')

정수 입력> 15
모든 예외처리 완료

IndexError: list index out of range

#### Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [3]:
class Price:
    def __init__(self):
        self.price = 1000
#     def setdata(self, price):
#         self.price  = price
    def price1(self):
        a = int(input('추가가격 :'))
        return self.price + a
    def price2(self):
        a = int(input('추가가격 :'))
        return (a+self.price)*90/100
        
a = Price()
b = Price()
# a.setdata(200)
# b.setdata(400)

print(a.price1())
print(a.price2())
print(b.price1())
print(b.price2())

추가가격 :200
1200
추가가격 :100
990.0
추가가격 :500
1500
추가가격 :400
1260.0

In [130]:
class Price:
    def __init__(self):
        self.price = 1000

    def price1(self, x):
        print(f'첫번째 물건가격: {self.price + x}')
    def price2(self, x):
        print(f'두번쨰 물건가격: {(x+self.price)*90/100}')

a = Price()

In [131]:
a.price1(500)

첫번째 물건가격: 1500

In [133]:
a.price2(400)

두번쨰 물건가격: 1260.0

#### Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [6]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
# strings.sort(key = lambda x:len(x), reverse = True)
strings.sort(key = len, reverse = True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [5]:
strings.sort(key=len)
strings.reverse() # 역정렬
print(strings)

['ababa', 'aaaa', 'bar', 'ca', 'a']

#### Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [62]:
# Q.
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)), reverse=True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

#### Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [96]:
alpa = 'abcde'
#1
print(alpa[::-1])
#2
print("".join(reversed(alpa)))
#3
st = ''
for i in alpa:
    st = i+st
print(st)
#4
print(alpa[-1]+alpa[-2]+alpa[-3]+alpa[-4]+alpa[-5])
#5
li = []
for i in alpa:
    li.append(i)
li.sort(reverse = True)
print(''.join(li))

edcba
edcba
edcba
edcba
edcba

#### Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [53]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

def count(x):
    for i in range(10):
        print(f'{i}은 {x.count(i)}번 등장!!')
count(numbers)

0은 0번 등장!!
1은 0번 등장!!
2은 2번 등장!!
3은 4번 등장!!
4은 2번 등장!!
5은 2번 등장!!
6은 2번 등장!!
7은 2번 등장!!
8은 2번 등장!!
9은 2번 등장!!

#### Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [10]:
# Q.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [9]:
list = [i*i for i in range(0,20,2)]
list

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [42]:
def facto(n):
    fac = 1
    for i in range(1, n+1):
        fac = fac*i
    print(fac)

In [43]:
facto(5)

120

#### Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [12]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

In [13]:
print(factorial(1))
print(factorial(5))
print(factorial(10))

1
120
3628800

#### Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요

In [54]:
a = [1,2,3,4,5]
[float(x) for x in a]

[1.0, 2.0, 3.0, 4.0, 5.0]

#### [도전과제] Q31. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [17]:
# Q. 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
# '''
# [출력]
# ['Alabama',
#  'Georgia',
#  'Georgia',
#  'Georgia',
#  'Florida',
#  'South   Carolina',
#  'West Virginia']
# '''
states[0]

'   Alabama '

In [37]:
import re
li = []
for i in states:
    i = re.sub('[^\w+]'," ", i)
    i = i.strip()
    i = i.lower()
    i = i.title()
    li.append(i)
li

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [1]:
x = int(input('게시물의 총 건수 :'))
y = int(input('한 페이지에 보여줄 게시물 수 : '))
if x%y == 0:
    print(f'총 페이지 수 :{x//y}')
else:
    print(f'총 페이지 수 :{x//y+1}')

게시물의 총 건수 :120
한 페이지에 보여줄 게시물 수 : 14
총 페이지 수 :9

#### Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [59]:
import random
import numpy as np
name = np.random.randint(1,1001,1000)
name_1 = random.choice(name)
weight = np.random.randint(30,100,1000)
weight_1 = random.choice(weight)
height = np.random.randint(140, 200, 1000)
height_1 = random.choice(height)
BMI = weight_1/((height_1/100)**2)
if BMI <= 18.5:
    result = '저체중'
elif BMI < 23:
    result = '정상'
elif BMI < 25: 
    result = '과체중'
elif BMI < 30:
    result = '경도비만'
else:
     result = '중등도비만'


print(
f'''
- 이름 : 이름코드{name_1}
- 몸무게 : {weight_1}
- 키 : {height_1}
- BMI : {BMI}
- 결과 : {result}
''')

- 이름 : 이름코드812
- 몸무게 : 79
- 키 : 177
- BMI : 25.2162533116282
- 결과 : 경도비만

#### Q53. 입력한 숫자를 천 단위로 구분하여 출력하세요.

In [3]:
def thun(n):
    li = []
    for i in range(len(str(n)),0,-3):
        if i<3:
            li.insert(0,str(n)[0:i%3])
        else:
            li.insert(0, str(n)[i-3:i])
        result =','.join(li)
    return result
            
thun(4852963178)

'4,852,963,178'

#### Q54. 카운터에서 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러 줘야할 돈이 N원일 때, 거슬러 줘야 할 동전의 최소 개수를 구하세요.단, 거슬러 줘야 할 돈 N은 항상 10의 배수이다. N은 2750원이다.

In [38]:
li = [500,100,50,10]
div = divmod(2750,li[0])
div2 = divmod(div[1], li[1])
div3 = divmod(div2[1], li[2])
div4 = divmod(div3[1], li[3])

print(f'500원은 {div[0]}개, 100원은 {div2[0]}개, 50원은 {div3[0]}개, 10원은 {div4[0]}개, 최소 갯수: {div[0]+div2[0]+div3[0]+div4[0]}개')

500원은 5개, 100원은 2개, 50원은 1개, 10원은 0개, 최소 갯수: 8개

In [6]:
n = 3750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

10

#### Q55. mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [2]:
import re
with open('mydata.txt', 'r') as f:
    lines= f.readlines()
    a = 0
    for line in lines:
        line = re.sub('[^\w+]', ' ', line)
        line = line.split()
        print(line)
        a = a + len(line)
print(a)

['a', 'lot', 'of', 'things', 'occur', 'each', 'day']
['we', 've', 'got', 'to', 'live', 'with', 'on', 'our', 'way']
['there', 's', 'so', 'much', 'misery', 'on', 'the', 'screen']
['with', 'commercials', 'in', 'between']
[]
['and', 'the', 'russians', 'won', 't', 'be', 'so', 'late']
['uncle', 'sam', 'don', 't', 'want', 'to', 'wait']
['no', 'matter', 'if', 'you', 're', 'black', 'or', 'white']
['you', 'never', 'ever', 'had', 'a', 'right']
[]
['and', 'look', 'up', 'to', 'the', 'eternal', 'skies']
['see', 'warfare', 'even', 'there']
['what', 'once', 'has', 'been', 'a', 'paradise']
['now', 'destruction', 'and', 'despair']
[]
['in', 'other', 'worlds', 'the', 'children', 'die']
['lacking', 'food', 'ill', 'from', 'a', 'fly']
['oppressed', 'by', 'troops', 'to', 'tame', 'their', 'land']
['it', 's', 'all', 'the', 'same', 'again']
[]
['if', 'any', 'man', 'is', 'free', 'on', 'earth']
['then', 'tormentors', 'steal', 'his', 'birth']
['they', 'slam', 'gun', 'butts', 'in', 'his', 'face']
['and', 'leave', 'his', 'woman', 'choked', 'in', 'mace']
[]
['so', 'stand', 'up', 'for', 'our', 'human', 'rights']
['push', 'back', 'this', 'pest', 'of', 'hate']
['raise', 'you', 'voice', 'pass', 'on', 'the', 'light']
['unite', 'it', 's', 'not', 'too', 'late']
[]
['how', 'many', 'tears', 'flow', 'away']
['to', 'become', 'a', 'sea', 'of', 'fears']
['how', 'many', 'hearts', 'are', 'torn', 'apart']
['till', 'another', 'torment', 'starts']
[]
['but', 'before', 'the', 'world']
['turns', 'into', 'a', 'sun']
['all', 'cruelty', 'and', 'violence']
['on', 'earth', 'will', 'be', 'dead', 'and', 'gone']
[]
['so', 'stand', 'up', 'for', 'our', 'human', 'rights']
['push', 'back', 'this', 'pest', 'of', 'hate']
['raise', 'you', 'voice', 'pass', 'on', 'the', 'light']
['unite', 'it', 's', 'not', 'too', 'late']
221

In [7]:
with open('mydata.txt', 'r') as f:
    line = f.read()
    line = re.sub('[^\w+]', ' ', line)
    temp = line.split()
print(f'단어수 = {len(temp)}개')
print(temp)

단어수 = 221개
['a', 'lot', 'of', 'things', 'occur', 'each', 'day', 'we', 've', 'got', 'to', 'live', 'with', 'on', 'our', 'way', 'there', 's', 'so', 'much', 'misery', 'on', 'the', 'screen', 'with', 'commercials', 'in', 'between', 'and', 'the', 'russians', 'won', 't', 'be', 'so', 'late', 'uncle', 'sam', 'don', 't', 'want', 'to', 'wait', 'no', 'matter', 'if', 'you', 're', 'black', 'or', 'white', 'you', 'never', 'ever', 'had', 'a', 'right', 'and', 'look', 'up', 'to', 'the', 'eternal', 'skies', 'see', 'warfare', 'even', 'there', 'what', 'once', 'has', 'been', 'a', 'paradise', 'now', 'destruction', 'and', 'despair', 'in', 'other', 'worlds', 'the', 'children', 'die', 'lacking', 'food', 'ill', 'from', 'a', 'fly', 'oppressed', 'by', 'troops', 'to', 'tame', 'their', 'land', 'it', 's', 'all', 'the', 'same', 'again', 'if', 'any', 'man', 'is', 'free', 'on', 'earth', 'then', 'tormentors', 'steal', 'his', 'birth', 'they', 'slam', 'gun', 'butts', 'in', 'his', 'face', 'and', 'leave', 'his', 'woman', 'choked', 'in', 'mace', 'so', 'stand', 'up', 'for', 'our', 'human', 'rights', 'push', 'back', 'this', 'pest', 'of', 'hate', 'raise', 'you', 'voice', 'pass', 'on', 'the', 'light', 'unite', 'it', 's', 'not', 'too', 'late', 'how', 'many', 'tears', 'flow', 'away', 'to', 'become', 'a', 'sea', 'of', 'fears', 'how', 'many', 'hearts', 'are', 'torn', 'apart', 'till', 'another', 'torment', 'starts', 'but', 'before', 'the', 'world', 'turns', 'into', 'a', 'sun', 'all', 'cruelty', 'and', 'violence', 'on', 'earth', 'will', 'be', 'dead', 'and', 'gone', 'so', 'stand', 'up', 'for', 'our', 'human', 'rights', 'push', 'back', 'this', 'pest', 'of', 'hate', 'raise', 'you', 'voice', 'pass', 'on', 'the', 'light', 'unite', 'it', 's', 'not', 'too', 'late']

#### Q56. 파일이름과 특정 단어을 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [8]:
def wordcount(x, y):
    try:
        with open(x, 'r') as f:
            lines= f.readlines()
            a = 0
            for line in lines:
                line = re.sub('[^\w+]', ' ', line)
                line = line.count(y)
                a = a + line
        print(f'{y}.count = {a}')
    except:
        print('숫자를 치셨습니다.')
        
wordcount('mydata.txt', 'how')

how.count = 2

In [11]:
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower()
        pos = text.find(word)
        count = 0
        while pos != -1:
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower()
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: mydata.txt
filename에서 개수를 구할 단어를 입력하세요: How
how의 개수: 2

#### Q57.
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

문자를 써주세요.ssssdddddgggg

's0s0s0s0d4d4d4d4d4g9g9g9g9'

In [63]:
text = input('문자를 입력해주세요.')
count_words = [text[0]]
num=1
for i in range(1,len(text)):
    if text[i] != text[i-1]:
        count_words.append(num)
        count_words.extend([text[i]])
        num = 1
    elif text[i] == text[i-1]:
        num += 1
count_words.append(num)
li = [str(i) for i in count_words]
''.join(li)

문자를 입력해주세요.aaaaavvvvvddddd

'a5v5d5'

#### Q60.
N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [85]:
'''
(n) + (n-1) + (n-2)...
m
k번 더해주고 나면 m번에서 k를 빼주고
n*k + (n-1)*(m-k) + (n-2)*(m-2k)...

'''
import numpy as np


x = input('N M K 를 입력해주세요.')
li = [int(i) for i in x.split(' ')]
n = li[0]
n_list = sorted(set(np.random.randint(2,1001,n)), reverse = True)
print(n_list)
m = li[1]
print(m)
k = li[2]
print(k)
max_ = 0
if m < k:
    max_ = n_list[0]*m
else:
    for i in n_list:
        if m >= k:
            max_ += i*k
            m -= k
        elif m > 0:
            max_ += i*(m)
            m-=k
        else:
            pass
            
print(max_)





# def 
# N_list = np.random.choice(N,1, 1000)
# N_list

N M K 를 입력해주세요.5 3 2
[629, 320, 256, 210, 23]
3
2
1578

In [84]:
782*2 + 661

2225

In [1]:
# 강사님 답안

# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기
data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result) # 최종 답안 출력

5 3 2
2 1 5 4 8
21

#### Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

In [2]:
import os

n = os.path.getsize('data/stockcode.txt')
m = os.path.getsize('data/img_sample.jpg')
print(n)
print(m)

16339
170005

#### Q62.
stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [ ]:
import os

path = './'
for file in os.listdir(path):
    try:
        n = os.path.getsize(file)
        print('file : ', n, "Bytes")                           # 바이트 단위로 구하기
        print('file : ', n / 1024, "KB")                       # 킬로바이트 단위로
        print('file : ', "%.2f MB" % (n / (1024.0 * 1024.0)))  # 메가바이트 단위로
        print('file : ', "%.2f GB" % (n / (1024.0 * 1024.0 * 1000.0)))  # 기가바이트 단위로
    except os.error:
        print "파일이 없거나 에러입니다."	
출처: https://everywhere-data.tistory.com/52 [데이터가 쏘아올린 작은 공:티스토리]