#### 과제0727_2
검색 키워드와 총 필요한 뉴스기사 수를 입력하면 요청한 만큼 데이터프레임 형태(컬럼은 title, url)로 출력해주는 크롤링 프로그램을 수행하세요.

In [ ]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query='

In [4]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
news_df = pd.DataFrame(columns=['title','url'])
def search(keyword, num):
    title_list = []
    url_list = []
    news_df = pd.DataFrame(columns=['title','url'])
    for i in range(1, num+1, 10):
        url = 'https://search.naver.com/search.naver?where=news&query='+str(keyword)+'&start='+str(i)
        headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.text, 'lxml')
        articles = soup.find_all('a',{'class':{'news_tit'}})
        for article in articles:
            newslink = article['href']
            url_list.append(newslink)
            title = article.text
            title_list.append(title)
    news_df.title = title_list
    news_df.url = url_list
    print(f'중복 수 : {news_df.iloc[:num].duplicated().sum()}')
    return news_df.iloc[:num].drop_duplicates(subset=['title', 'url'])

In [5]:
search('택시 잡기', 100)

중복 수 : 0

,title,url
0,"""택시 잡기가 하늘의 별 따기"".. 심야택시 대란에 與野 서로 다른 해법",http://www.fnnews.com/news/202208030705238730
1,"하늘의 별따기…택시 대란, 장기화 우려",https://news.kbs.co.kr/news/view.do?ncd=552306...
2,심야 택시 대란 잡기 위한 원희룡의 한 방은 [김은정의 클릭 부동산],https://www.hankyung.com/realestate/article/20...
3,전쟁이 돼버린 야간 택시 잡기... 녹록지 않은 승차난 해법 찾기,https://www.cjb.co.kr/home/sub.php?menukey=61&...
4,"""택시대란 해법 찾아라""...4일 민·관·학 머리 맞대고 토론",https://www.joongang.co.kr/article/25091429
...,...,...
95,밤마다 택시 잡기 별따기…밤 9시→오후 5시 당겨 운행,https://news.jtbc.joins.com/article/article.as...
96,"""택시 잡기 하늘에 별 따기""…거리두기 해제, 심야 '택시 대란' 걱정",https://view.asiae.co.kr/article/2022041816223...
97,택시잡기 힘들었는데 '희소식'…2년 만에 서울지하철 심야운행,https://www.hankyung.com/society/article/20220...
98,‘일상회복…’ 야간 택시잡기 대란...개인택시 부제 해제 ‘긴급처방’,http://news.heraldcorp.com/view.php?ud=2022042...
99,"서울시, 택시 심야할증 요금 '밤 10시부터' 검토...야간시간 택시잡기 쉬워질...",https://www.mk.co.kr/economy/view/2022/375266