In [1]:
import pandas as pd
df = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권-소득소비).csv', encoding = 'cp949')
df.head()
# https://data.seoul.go.kr/dataList/OA-21278/S/1/datasetView.do

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,2022,1,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,129126028.0,64853632.0,37122367.0,65974602.0,88343761.0,22223650.0,14656697.0,76185341.0,21941557.0
1,2022,1,A,골목상권,2110002,독립문역 1번,3463885.0,7.0,2.324652e+08,54998987.0,28932090.0,17084860.0,28271372.0,40933079.0,10180461.0,6575012.0,35805283.0,9684061.0
2,2022,1,A,골목상권,2110003,세검정초등학교,3548020.0,7.0,1.349699e+09,336704220.0,166150296.0,98720958.0,170559024.0,227367090.0,54707608.0,39088030.0,199219764.0,57182240.0
3,2022,1,A,골목상권,2110004,대신고등학교,2644953.0,6.0,7.127728e+08,205649728.0,84170011.0,51668351.0,100817261.0,111843712.0,23406627.0,22615164.0,82865155.0,29736776.0
4,2022,1,A,골목상권,2110005,세검정,3703145.0,7.0,8.847016e+08,221446948.0,109882417.0,64738346.0,111988892.0,149822911.0,37478670.0,25606895.0,126544371.0,37192149.0